@tailwind base;
@tailwind components;
@tailwind utilities;

/* primary - #F1FE24 */
/* secondary - #6556CD */

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(105, 130, 198);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(37, 80, 135);
}
